[submodule "mods/a.e.s.-server-manager"]
	path = mods/a.e.s.-server-manager
	url = https://gitlab.com/zughy-friends-minetest/a.e.s.-server-custom-mods/a.e.s.-server-manager.git
[submodule "mods/filter"]
	path = mods/filter
	url = https://github.com/minetest-mods/filter.git
[submodule "mods/collectible-skins"]
	path = mods/collectible-skins
	url = https://gitlab.com/zughy-friends-minetest/collectible-skins.git
	branch = technical
[submodule "mods/afk_indicator"]
	path = mods/afk_indicator
	url = https://github.com/C-C-Minetest-Server/afk_indicator.git
[submodule "mods/minetest-formspec_ast"]
	path = mods/minetest-formspec_ast
	url = https://gitlab.com/luk3yx/minetest-formspec_ast.git
[submodule "mods/xban2"]
	path = mods/xban2
	url = https://github.com/minetest-mods/xban2.git
[submodule "mods/minigames/fantasy-brawl"]
	path = mods/minigames/fantasy-brawl
	url = https://gitlab.com/zughy-friends-minetest/fantasy-brawl.git
[submodule "mods/minigames/arena_lib"]
	path = mods/minigames/arena_lib
	url = https://gitlab.com/zughy-friends-minetest/arena_lib.git
[submodule "mods/minigames/skills"]
	path = mods/minigames/skills
	url = https://gitlab.com/zughy-friends-minetest/skills.git
[submodule "mods/minigames/panel_lib"]
	path = mods/minigames/panel_lib
	url = https://gitlab.com/zughy-friends-minetest/panel_lib.git
[submodule "mods/minigames/audio_lib"]
	path = mods/minigames/audio_lib
	url = https://gitlab.com/zughy-friends-minetest/audio_lib.git
[submodule "mods/smartphone_depends/awards"]
	path = mods/smartphone_depends/awards
	url = https://gitlab.com/rubenwardy/awards.git
[submodule "mods/mods/minigames/smartphone"]
	path = mods/mods/minigames/smartphone
	url = https://gitlab.com/zughy-friends-minetest/smartphone.git
[submodule "mods/smartphone"]
	path = mods/smartphone
	url = https://gitlab.com/zughy-friends-minetest/smartphone.git
